<div>
 
        <img class="beer-img-front" src="/images/beer.png">
        </img>
        <div>
        <a class="check-beers" href="/beers">Check the Beers!</a>
        </div>
        <div>
        <a class="check-random" href="/random-beer">Check a Random Beer</a>
        </div>

</div>